---
import Layout from '../layouts/Layout.astro';
import CanvasEditor from '../components/CanvasEditor.astro';
---

<Layout title="Editor de Lienzo">
	<main>
		<CanvasEditor />
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: #1e1e1e;
	}
</style>